.cart-header{
    text-align: center;
    margin-bottom: 10px;
}

table{
    border-bottom: 2px solid #000;
    width: 70%;
    font-size: 18px;
    margin-left: 50px;
}

.total{
    font-size: 20px;
    font-weight: bold;
    color: red;
}

.reviewBtn{
    background-color: #F0C14B;
    border: none;
    padding: 8px 40px;
    border-radius: 5px;
}